html 
    head
        title Autentifikacija
    
    body
        div(style="text-align: center")
            div(style="display: flex; justify-content: center; align-items: center;")
                if(podaci)
                    table(style="border: 1px solid black; border-collapse: collapse; height: 400px; width: 300px")
                        caption(style="font-size: 20px") Podaci za administratora
                        thead 
                            tr(style="border: 1px solid black; height: 50px") 
                                th(style="border: 1px solid black; height: 70px") Korisničko ime 
                                th(style="border: 1px solid black; height: 70px") Lozinka
                        tbody 
                            each korisnik in podaci 
                                tr(style="border: 1px solid black; ")
                                    td(style="border: 1px solid black; height: 70px") #{korisnik.korisnickoIme}
                                    td(style="border: 1px solid black; height: 70px") #{korisnik.lozinka}
                else     
                    p(style="font-size: 20px") Uspješna autentifikacija
            br
            br
            button 
                a(href="/") Početna stranica
