html 
    head 
        title Lab2 
    body 
        h1 2. projekt iz predmeta Napredni razvoj programske potpore za web


        div(style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; padding: 20px;")

            div
                h2 1. zadatak - SQL Injection napad
                b Upute: 
                | Kad zaštita od ranjivosti nije uključena moguće je izvesti SQL Injection napad na više načina
                | ,ali jedan od primjera bio bi upisivanje 
                b ' OR 1=1-- 
                | u prostor za korisničko ime te, u tom slučaju, 
                | upisivanja bilo čega za lozinku. Na taj način, mogu se dobiti podaci o računima u bazi podataka. Ako 
                | se zaštita uključi, detektiraju se znakovi 
                b ",',;,- 
                | te ključna riječ 
                b OR 
                | u svim oblicima, a isto tako 
                | upit se parametrizira pa je napad tautologijom onemogućen.
                br
                br
                form(action="/prijava", method="post")
                    if(porukaInj)
                        div(style="color: red;") #{porukaInj}
                        br

                    label(for="ranjivost") Želite li uključiti zaštitu od ranjivosti? 
                    input(type="radio", name="odgovor", value="Da", id="zastita-da", required)
                    label(for="zastita-da") Da 
                    input(type="radio", name="odgovor", value="Ne", id="zastita-ne", required)
                    label(for="zastita-ne") Ne 
                    br
                    br
                    label(for="korisnickoIme") Korisničko ime: 
                    input(type="text", id="korisnickoIme", name="korisnickoIme", required)
                    br
                    br
                    label(for="lozinka") Lozinka: 
                    input(type="password", id="lozinka", name="lozinka", required)
                    br
                    br
                    input(type="submit", value="Prijava")
            
            div
                h2 2. zadatak - Loša autentifikacija 
                b Upute: 
                | Kad korisnik upiše validne podatke, bit će preusmjeren na stranicu s podacima koji su prilagođeni 
                | njegovoj ulozi. Ako zaštita nije uključena, a korisnik upiše netočne podatke, dobit će poruke 
                | koje ga navode koju je grešku učinio. Ako je zaštita uključena, a korisnik upisuje netočne podatke,
                | dobit će poruke pomoću kojih će mu biti teže zaključiti gdje je pogriješio.
                br
                br
                form(action="/autentifikacija", method="post")
                    if(poruka)
                        div(style="color: red;") #{poruka}
                        br

                    label(for="ranjivostAutentifikacija") Želite li uključiti zaštitu od ranjivosti? 
                    input(type="radio", name="autentifikacijaOdgovor", value="Da", id="autentifikacijaZastitaDa", required)
                    label(for="autentifikacijaZastitaDa") Da 
                    input(type="radio", name="autentifikacijaOdgovor", value="Ne", id="autentifikacijaZastitaNe", required)
                    label(for="autentifikacijaZastitaNe") Ne 
                    br
                    br
                    label(for="autentifikacijaKorisnickoIme") Korisničko ime: 
                    input(type="text", id="autentifikacijaKorisnickoIme", name="autentifikacijaKorisnickoIme", required)
                    br
                    br
                    label(for="autentifikacijaLozinka") Lozinka: 
                    input(type="password", id="autentifikacijaLozinka", name="autentifikacijaLozinka", required)
                    br
                    br
                    input(type="submit", value="Autentifikacija")

               
