html 
    head
        title Podaci
    
    body
        div(style="text-align: center")
            if(podaci.length > 0)
                div(style="display: flex; justify-content: center; align-items: center;")
                    table(style="border: 1px solid black; border-collapse: collapse; height: 400px; width: 300px")
                        caption(style="font-size: 20px") Podaci na koje korisnik ima pravo pristupa
                        thead 
                            tr(style="border: 1px solid black; height: 50px") 
                                th(style="border: 1px solid black; height: 70px") Korisničko ime 
                                th(style="border: 1px solid black; height: 70px") Lozinka
                                th(style="border: 1px solid black; height: 70px") OIB 
                                th(style="border: 1px solid black; height: 70px") Plaća(€)
                        tbody 
                            each korisnik in podaci 
                                tr(style="border: 1px solid black; ")
                                    td(style="border: 1px solid black; height: 70px") #{korisnik.korisnickoIme}
                                    td(style="border: 1px solid black; height: 70px") #{korisnik.lozinka}
                                    td(style="border: 1px solid black; height: 70px") #{korisnik.OIB}
                                    td(style="border: 1px solid black; height: 70px") #{korisnik['placa(€)']}
                br
                br
                button 
                    a(href="/") Početna stranica
            else
                div(style="text-align: center")
                    div(style="display: flex; justify-content: center; align-items: center;") 
                        p(style="font-size: 20px") Nema podataka za prikaz jer podaci za prijavu nisu odgovarajući
                        br
                        br
                    button 
                        a(href="/") Početna stranica

                